@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
}

html {
	font-family: 'Red Hat Display', sans-serif;
}

body {
	background-color: hsl(225, 100%, 94%);
	padding: 1.5rem;
}

.bold {
	font-weight: 900;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: .5rem;
	text-align: center;
	background-color: white;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 25rem;
	border-radius: 1.5rem;
}

/* large image */
.card figure {
	grid-column: span 3;
	padding-bottom: 2rem;
}

.card figure img {
	border-radius: 1.5rem 1.5rem 0 0;
}

.ltcolortext {
	color: hsl(224, 23%, 55%);
}

/* Order... */
.card div:nth-child(2) {
	grid-column: span 3;
	font-weight: 700;
	font-size: 1.3rem;
	padding-bottom: 1rem;
}

/* You can... */
.card div:nth-child(3) {
	grid-column:span 3;
	font-size: 1rem;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1rem;
}

/* ICON */
.card div:nth-child(4) {
	background-color: hsl(225, 100%, 98%);
	margin-left: 1rem;
	border-radius: 1rem 0 0 1rem;
}

.card div:nth-child(4) img {
	transform: scale(.6);
}

/* Annual... */
.card div:nth-child(5) {
	line-height: 1.5rem;
	background-color: hsl(225, 100%, 98%);
	height: 100%;
	padding-top: 1.5rem;
}

/* Change */
.card div:nth-child(6) {
	background-color: hsl(225, 100%, 98%);
	margin-right: 1rem;
	border-radius: 0 1rem 1rem 0;
	height: 100%;
	padding-top: 2rem;
}

/* Proceed... */
.card a:nth-child(7) {
	width: 85%;
	background-color: hsl(245, 75%, 52%);
	grid-column: span 3;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	color: white;
	line-height: 3rem;
	border-radius: .5rem;
}

.card div:nth-child(8) {
	width: 100%;
	grid-column: span 3;
}

/* Cancel... */
.card div:nth-child(8) a {
	line-height: 4rem;
	text-decoration: none;
}


.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
	color: hsl(228, 45%, 44%);
}